.dropzone {
  width: 100%;
  height: 100px;
  background: white;
  padding: 10px;
  border-style: dotted;
  text-align: center;
}

.dropzone.dragover {
  background-color: gray;
  border-style: solid;
}

#output {
  white-space: pre-wrap;
}